# dependencies
node_modules
**/node_modules

# Next.js build output
.next
**/.next
out
**/out

# Production build outputs
dist
**/dist
build
**/build

# Environment variables
.env
.env*.local
**/.env
**/.env*.local

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Keystores & Signing Secrets
*.jks
*.keystore
signing-key-info.txt
local.properties

